<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Modificar Tacografo</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
<div class="top-bar">
       <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo de la empresa">
</div>
    <div class="container">

    <h1>Modificar Transpaleta {{tr_editar_alias}}</h1><br>

    <form action="/modificar_transpaleta" method="POST">
        <input type="hidden" name="id" value="{{tr_editar.id}}">

        <label for="alias_ant" id="alias_ant"><b>Alias</b></label>
        <input type="text" id="alias_new" name="alias_new" value="{{tr_editar_alias}}"><br><br>

        <label for="marca_ant" id="marca_ant"><b>Marca</b></label>
        <input type="text" id="marca_new" name="marca_new" value={{tr_editar_marca}}><br><br>

        <label for="modelo_ant" id="modelo_ant"><b>Modelo</b></label>
        <input type="text" id="modelo_new" name="modelo_new" value={{tr_editar_modelo}}><br><br>

        <label for="bastidor_ant" id="bastidor_ant"><b>Bastidor</b></label>
        <input type="text" id="bastidor_new" name="bastidor_new" value={{tr_editar_bastidor}}><br><br>

        <input class="button" type="submit" value="Guardar cambios">
        <a class="button_red" href="/transpaletas">Volver</a>
    </form>
<footer class="banda-roja"></footer>
    </div>
</body>
</html>
