<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transpaletas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
<div class="top-bar">
       <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo de la empresa">
</div>
    <div class="container">
        <h1>Listado de Tranpaletas</h1>
        <table>
            <thead>
                <tr>
                    <th>Alias</th>
                    <th>Marca</th>
                    <th>Modelo</th>
                    <th>Bastidor</th>
                    <th>Asignada a:</th>
                    <th colspan="2">Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for tr in lista_transpaletas %}
                <tr>
                    <td><a href="/talleres_transpaleta/{{tr.id}}">{{ tr.alias }}</a></td>
                    <td>{{ tr.marca }}</td>
                    <td>{{ tr.modelo }}</td>
                    <td>{{ tr.bastidor }}</td>
                    <td>{{ tr.asignada }}</td>
                    <td><a href="form_editar_tacografo/{{ tr.id }}" target="_blank">
                        <button type="submit" class="boton-editar"><i class="fas fa-pencil"></i></button>
                    </a>

                    <td>
                        <form action="/borrar_tacografo/{{ tr.id }}" method="POST">
                            <input type="hidden" name="id" value="{{ tr.id }}">
                            <input type="hidden" name="clase" value="Tacografo">
                            <button type="submit" class="boton-borrar"><i class="fas fa-trash-alt"></i></button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <br>
        <a class="button" href="/formulario_transpaleta"> Crear Transpalet</a>
        <a class="button_red" href="/index">Volver</a>
        <br>
        <br>
        <br><br>
    </div>
<footer class="banda-roja"></footer>
</body>
</html>
