<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Taller</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
<div class="top-bar">
       <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo de la empresa">
</div>
    <div class="container">
    <h1>Consulta visita taller {{visita_ver.alias}}</h1><br>
        <label> Fecha de entrada <b>{{visita_ver.fecha_visita.strftime('%d-%m-%Y')}}</b></label>
        <br><br>
        <label>Taller: <b>{{visita_ver.taller}}</b></label>
        <br><br>
        <label>Problema: <b>{{visita_ver.problema}}</b></label>
        <br><br>
        <label>Número albarán: <b>{{visita_ver.albaran}}</b></label>
        <br><br>
        <label>Presupuesto: <b>{{visita_ver.presupuesto}}</b></label>
        <br><br>
        <label>Trabajos realizados: <b>{{visita_ver.trabajos}}</b></label>
        <br><br>
        <label>Importe: <b>{{visita_ver.importe}}</b></label>
        <br><br>
        {% if visita_ver.fecha_entrega %}
            <label> Fecha de entrega <b>{{visita_ver.fecha_entrega.strftime('%d-%m-%Y')}}</b></label>
        {% else %}
            <label> Fecha de entrega <b>En curso</b></label>
        {% endif %}
        <br><br>
        <label><a href="static/subidas/{{visita_ver.nombre_doc}}" target="_blank"></a><i class="fas fa-check verde"></i>Ver documento adjunto</label>
        <br><br>
        <a class="button_red" href="/talleres_transpaleta/{{visita_ver.id}}">Volver</a>
        <br>
        <br>
        <br><br>

<footer class="banda-roja"></footer>
    </div>
</body>
</html>
